.div {
    position: absolute;
    left: 40%;
    top: 15%;
}

.inputUser {
    position: absolute;
    left: 1%;
    top: 120px;
    width: 250px;
    border-radius: 3px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #3a75ff;
}

.inputPassword {
    position: absolute;
    left: 1%;
    top: 200px;
    width: 250px;
    border-radius: 3px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #3a75ff;
}

.inputTelephone {
    position: absolute;
    left: 1%;
    top: 280px;
    width: 250px;
    border-radius: 3px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #3a75ff;
}

.pFirst {
    position: absolute;
    left: 41%;
    top: 110px;
    font-size: 28px;
    filter: wave(add=0, lightstrength=50, strength=3, frep=2, phrase=10);
    width: 100%;
    color: #42f3ff;
    line-height: 100%;
    font-family: 华文行楷;
}

.pSecond {
    position:absolute;
    left: 43%;
    top: 170px;
    font-size: 16px;
    filter: wave(add=0, lightstrength=50, strength=3, frep=2, phrase=10);
    width: 100%;
    color: #42f3ff;
    line-height: 100%;
    font-family: 华文行楷;
}

.inputEmail {
    position: absolute;
    left: 1%;
    top: 360px;
    width: 250px;
    border-radius: 3px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #3a75ff;
}

.inputRegister {
    position: absolute;
    left: 1%;
    top: 450px;
    width: 300px;
    border-radius: 3px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #3a75ff;
}


